.text {
  z-index: 10;
  background: none;
  font-size: 3rem;
  position: absolute;
  color: aliceblue;
  right: 0%;
  width: 100%;
  text-align: "center";
}

.text2 {
  z-index: 10;
  background: none;
  font-size: 3rem;
  margin-top: 5rem;
  position: absolute;
  color: aliceblue;
  right: 3%;
}
